.flex-container {
    display: flex;
}

.intro {
    display: flex;
    flex-direction: column;
    height: 600px;
    align-items: center;
    justify-content: space-around;
    color: white;
    /*background-image: url("../images/eagle.png");*/
    background: linear-gradient(rgba(255, 142, 71, 0.45), rgba(255, 50, 11, 0.45)), url("../images/eagle.png");
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center; /* Center the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.header {
    color: white;
}


.progressLines {
    display: flex;
}

.whatWeDo {
    display: flex;
    height: 450px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: 60px;
}

.statisticsBar {
    display: grid;
    height: 200px;
    grid-template-columns: repeat(5, 1fr);
    background-color: #95E1D4;
    justify-items: center;
    align-items: center;
    color: white;
}


nav ul {
    position: absolute;
    top: 0;
    right: 90px;
    display: flex;
    list-style-type: none;
}

.btn-primary-outline {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    border: 0.3px solid white;
    outline-style: solid;
    /*outline-color: #fffbf9;*/
}

nav li {
    flex: auto;
}

nav a {
    flex: auto;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Arial', serif;
    font-size: 12px;
}